<h2>Home</h2>
Menu

South Indian
<table>
    <tr>
        <td></td>
        <td>Item name</td>
        <td>Price</td>
        <td></td>
        <td></td>
    </tr>
    <tr *ngFor="let southIndianItem of southIndianItems; let index = index">
        <td>{{index + 1}}</td>
        <td>{{southIndianItem.name}}</td>
        <td>Rs. {{southIndianItem.price}}</td>
        <td>[ + ]</td>
        <td>[ - ]</td>
    </tr>
</table>

North Indian
<table>
    <tr>
        <td></td>
        <td>item name</td>
        <td>Price</td>
        <td></td>
        <td></td>
    </tr>
    <tr *ngFor="let northIndianItem of northIndianItems; let index = index">
        <td>{{index + 1}}</td>
        <td>{{northIndianItem.name}}</td>
        <td>Rs. {{northIndianItem.price}}</td>
        <td>[ + ]</td>
        <td>[ - ]</td>
    </tr>
</table>

Order

<table>
    <tr>
        <td>Item name</td>
        <td>Count</td>
        <td>Amount</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Samosa [ + ] [ - ]</td>
        <td>Rs. 20</td>
    </tr>
    <tr>
        <td>Total</td>
        <td></td>
        <td>Rs. 20</td>
    </tr>
</table>