<h2>Home</h2>
Menu

South Indian
<hr/>
<table>
    <tr>
        <td></td>
        <td>Item name</td>
        <td>Price</td>
        <td></td>
        <td></td>
    </tr>
    <tr *ngFor="let southIndianItem of southIndianItems; let index = index">
        <td>{{index + 1}}</td>
        <td>{{southIndianItem.name}}</td>
        <td>Rs. {{southIndianItem.price}}</td>
        <td (click)="addItem(southIndianItem)">[ + ]</td>
        <td (click)="removeItem(southIndianItem)">[ - ]</td>
    </tr>
</table>

North Indian
<hr/>
<table>
    <tr>
        <td></td>
        <td>item name</td>
        <td>Price</td>
        <td></td>
        <td></td>
    </tr>
    <tr *ngFor="let northIndianItem of northIndianItems; let index = index">
        <td>{{index + 1}}</td>
        <td>{{northIndianItem.name}}</td>
        <td>Rs. {{northIndianItem.price}}</td>
        <td (click)="addItem(northIndianItem)">[ + ]</td>
        <td (click)="removeItem(northIndianItem)">[ - ]</td>
    </tr>
</table>

<div *ngIf="totalItems > 0">
    Order
    <hr/>
    <table>
        <tr>
            <td>Item name</td>
            <td>Count</td>
            <td>Amount</td>
        </tr>
        <tr *ngFor="let orderItem of orderItems | values">
            <td>{{orderItem.name}} <span>[ + ]</span> <span>[ - ]</span></td>
            <td>{{orderItem.quantity}}</td>
            <td>Rs. {{orderItem.price * orderItem.quantity}}</td>
        </tr>
        <tr>
            <td>Total</td>
            <td>{{totalItems}}</td>
            <td>Rs. {{totalPrice}}</td>
        </tr>
    </table>
</div>